/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$s-dribbble-name: 's-Dribbble';
$s-dribbble-x: 0px;
$s-dribbble-y: 339px;
$s-dribbble-offset-x: 0px;
$s-dribbble-offset-y: -339px;
$s-dribbble-width: 33px;
$s-dribbble-height: 33px;
$s-dribbble-total-width: 195px;
$s-dribbble-total-height: 630px;
$s-dribbble-image: '../images/sprite.png';
$s-dribbble: (0px, 339px, 0px, -339px, 33px, 33px, 195px, 630px, '../images/sprite.png', 's-Dribbble', );
$s-fb-name: 's-Fb';
$s-fb-x: 0px;
$s-fb-y: 306px;
$s-fb-offset-x: 0px;
$s-fb-offset-y: -306px;
$s-fb-width: 33px;
$s-fb-height: 33px;
$s-fb-total-width: 195px;
$s-fb-total-height: 630px;
$s-fb-image: '../images/sprite.png';
$s-fb: (0px, 306px, 0px, -306px, 33px, 33px, 195px, 630px, '../images/sprite.png', 's-Fb', );
$s-pagination-name: 's-Pagination';
$s-pagination-x: 0px;
$s-pagination-y: 568px;
$s-pagination-offset-x: 0px;
$s-pagination-offset-y: -568px;
$s-pagination-width: 76px;
$s-pagination-height: 62px;
$s-pagination-total-width: 195px;
$s-pagination-total-height: 630px;
$s-pagination-image: '../images/sprite.png';
$s-pagination: (0px, 568px, 0px, -568px, 76px, 62px, 195px, 630px, '../images/sprite.png', 's-Pagination', );
$s-twitter-name: 's-Twitter';
$s-twitter-x: 0px;
$s-twitter-y: 372px;
$s-twitter-offset-x: 0px;
$s-twitter-offset-y: -372px;
$s-twitter-width: 33px;
$s-twitter-height: 33px;
$s-twitter-total-width: 195px;
$s-twitter-total-height: 630px;
$s-twitter-image: '../images/sprite.png';
$s-twitter: (0px, 372px, 0px, -372px, 33px, 33px, 195px, 630px, '../images/sprite.png', 's-Twitter', );
$s-android-name: 's-android';
$s-android-x: 0px;
$s-android-y: 274px;
$s-android-offset-x: 0px;
$s-android-offset-y: -274px;
$s-android-width: 32px;
$s-android-height: 32px;
$s-android-total-width: 195px;
$s-android-total-height: 630px;
$s-android-image: '../images/sprite.png';
$s-android: (0px, 274px, 0px, -274px, 32px, 32px, 195px, 630px, '../images/sprite.png', 's-android', );
$s-bulb-name: 's-bulb';
$s-bulb-x: 0px;
$s-bulb-y: 80px;
$s-bulb-offset-x: 0px;
$s-bulb-offset-y: -80px;
$s-bulb-width: 24px;
$s-bulb-height: 24px;
$s-bulb-total-width: 195px;
$s-bulb-total-height: 630px;
$s-bulb-image: '../images/sprite.png';
$s-bulb: (0px, 80px, 0px, -80px, 24px, 24px, 195px, 630px, '../images/sprite.png', 's-bulb', );
$s-css-3-name: 's-css-3';
$s-css-3-x: 0px;
$s-css-3-y: 178px;
$s-css-3-offset-x: 0px;
$s-css-3-offset-y: -178px;
$s-css-3-width: 32px;
$s-css-3-height: 32px;
$s-css-3-total-width: 195px;
$s-css-3-total-height: 630px;
$s-css-3-image: '../images/sprite.png';
$s-css-3: (0px, 178px, 0px, -178px, 32px, 32px, 195px, 630px, '../images/sprite.png', 's-css-3', );
$s-html-5-name: 's-html-5';
$s-html-5-x: 0px;
$s-html-5-y: 210px;
$s-html-5-offset-x: 0px;
$s-html-5-offset-y: -210px;
$s-html-5-width: 32px;
$s-html-5-height: 32px;
$s-html-5-total-width: 195px;
$s-html-5-total-height: 630px;
$s-html-5-image: '../images/sprite.png';
$s-html-5: (0px, 210px, 0px, -210px, 32px, 32px, 195px, 630px, '../images/sprite.png', 's-html-5', );
$s-list-name: 's-list';
$s-list-x: 0px;
$s-list-y: 0px;
$s-list-offset-x: 0px;
$s-list-offset-y: 0px;
$s-list-width: 16px;
$s-list-height: 16px;
$s-list-total-width: 195px;
$s-list-total-height: 630px;
$s-list-image: '../images/sprite.png';
$s-list: (0px, 0px, 0px, 0px, 16px, 16px, 195px, 630px, '../images/sprite.png', 's-list', );
$s-logo-name: 's-logo';
$s-logo-x: 0px;
$s-logo-y: 438px;
$s-logo-offset-x: 0px;
$s-logo-offset-y: -438px;
$s-logo-width: 138px;
$s-logo-height: 42px;
$s-logo-total-width: 195px;
$s-logo-total-height: 630px;
$s-logo-image: '../images/sprite.png';
$s-logo: (0px, 438px, 0px, -438px, 138px, 42px, 195px, 630px, '../images/sprite.png', 's-logo', );
$s-mail-name: 's-mail';
$s-mail-x: 0px;
$s-mail-y: 405px;
$s-mail-offset-x: 0px;
$s-mail-offset-y: -405px;
$s-mail-width: 33px;
$s-mail-height: 33px;
$s-mail-total-width: 195px;
$s-mail-total-height: 630px;
$s-mail-image: '../images/sprite.png';
$s-mail: (0px, 405px, 0px, -405px, 33px, 33px, 195px, 630px, '../images/sprite.png', 's-mail', );
$s-menu-name: 's-menu';
$s-menu-x: 0px;
$s-menu-y: 242px;
$s-menu-offset-x: 0px;
$s-menu-offset-y: -242px;
$s-menu-width: 32px;
$s-menu-height: 32px;
$s-menu-total-width: 195px;
$s-menu-total-height: 630px;
$s-menu-image: '../images/sprite.png';
$s-menu: (0px, 242px, 0px, -242px, 32px, 32px, 195px, 630px, '../images/sprite.png', 's-menu', );
$s-next-project-name: 's-next-project';
$s-next-project-x: 0px;
$s-next-project-y: 524px;
$s-next-project-offset-x: 0px;
$s-next-project-offset-y: -524px;
$s-next-project-width: 195px;
$s-next-project-height: 44px;
$s-next-project-total-width: 195px;
$s-next-project-total-height: 630px;
$s-next-project-image: '../images/sprite.png';
$s-next-project: (0px, 524px, 0px, -524px, 195px, 44px, 195px, 630px, '../images/sprite.png', 's-next-project', );
$s-next-name: 's-next';
$s-next-x: 0px;
$s-next-y: 32px;
$s-next-offset-x: 0px;
$s-next-offset-y: -32px;
$s-next-width: 16px;
$s-next-height: 16px;
$s-next-total-width: 195px;
$s-next-total-height: 630px;
$s-next-image: '../images/sprite.png';
$s-next: (0px, 32px, 0px, -32px, 16px, 16px, 195px, 630px, '../images/sprite.png', 's-next', );
$s-previous-project-name: 's-previous-project';
$s-previous-project-x: 0px;
$s-previous-project-y: 480px;
$s-previous-project-offset-x: 0px;
$s-previous-project-offset-y: -480px;
$s-previous-project-width: 195px;
$s-previous-project-height: 44px;
$s-previous-project-total-width: 195px;
$s-previous-project-total-height: 630px;
$s-previous-project-image: '../images/sprite.png';
$s-previous-project: (0px, 480px, 0px, -480px, 195px, 44px, 195px, 630px, '../images/sprite.png', 's-previous-project', );
$s-read-more-name: 's-read-more';
$s-read-more-x: 0px;
$s-read-more-y: 64px;
$s-read-more-offset-x: 0px;
$s-read-more-offset-y: -64px;
$s-read-more-width: 16px;
$s-read-more-height: 16px;
$s-read-more-total-width: 195px;
$s-read-more-total-height: 630px;
$s-read-more-image: '../images/sprite.png';
$s-read-more: (0px, 64px, 0px, -64px, 16px, 16px, 195px, 630px, '../images/sprite.png', 's-read-more', );
$s-rocket-name: 's-rocket';
$s-rocket-x: 0px;
$s-rocket-y: 128px;
$s-rocket-offset-x: 0px;
$s-rocket-offset-y: -128px;
$s-rocket-width: 24px;
$s-rocket-height: 24px;
$s-rocket-total-width: 195px;
$s-rocket-total-height: 630px;
$s-rocket-image: '../images/sprite.png';
$s-rocket: (0px, 128px, 0px, -128px, 24px, 24px, 195px, 630px, '../images/sprite.png', 's-rocket', );
$s-settings-name: 's-settings';
$s-settings-x: 0px;
$s-settings-y: 104px;
$s-settings-offset-x: 0px;
$s-settings-offset-y: -104px;
$s-settings-width: 24px;
$s-settings-height: 24px;
$s-settings-total-width: 195px;
$s-settings-total-height: 630px;
$s-settings-image: '../images/sprite.png';
$s-settings: (0px, 104px, 0px, -104px, 24px, 24px, 195px, 630px, '../images/sprite.png', 's-settings', );
$s-slid-name: 's-slid';
$s-slid-x: 0px;
$s-slid-y: 152px;
$s-slid-offset-x: 0px;
$s-slid-offset-y: -152px;
$s-slid-width: 88px;
$s-slid-height: 26px;
$s-slid-total-width: 195px;
$s-slid-total-height: 630px;
$s-slid-image: '../images/sprite.png';
$s-slid: (0px, 152px, 0px, -152px, 88px, 26px, 195px, 630px, '../images/sprite.png', 's-slid', );
$s-star-name: 's-star';
$s-star-x: 0px;
$s-star-y: 48px;
$s-star-offset-x: 0px;
$s-star-offset-y: -48px;
$s-star-width: 16px;
$s-star-height: 16px;
$s-star-total-width: 195px;
$s-star-total-height: 630px;
$s-star-image: '../images/sprite.png';
$s-star: (0px, 48px, 0px, -48px, 16px, 16px, 195px, 630px, '../images/sprite.png', 's-star', );
$s-trophy-name: 's-trophy';
$s-trophy-x: 0px;
$s-trophy-y: 16px;
$s-trophy-offset-x: 0px;
$s-trophy-offset-y: -16px;
$s-trophy-width: 16px;
$s-trophy-height: 16px;
$s-trophy-total-width: 195px;
$s-trophy-total-height: 630px;
$s-trophy-image: '../images/sprite.png';
$s-trophy: (0px, 16px, 0px, -16px, 16px, 16px, 195px, 630px, '../images/sprite.png', 's-trophy', );
$spritesheet-width: 195px;
$spritesheet-height: 630px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($s-dribbble, $s-fb, $s-pagination, $s-twitter, $s-android, $s-bulb, $s-css-3, $s-html-5, $s-list, $s-logo, $s-mail, $s-menu, $s-next-project, $s-next, $s-previous-project, $s-read-more, $s-rocket, $s-settings, $s-slid, $s-star, $s-trophy, );
$spritesheet: (195px, 630px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
