/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$s-1-name: 's-1';
$s-1-x: 0px;
$s-1-y: 186px;
$s-1-offset-x: 0px;
$s-1-offset-y: -186px;
$s-1-width: 394px;
$s-1-height: 56px;
$s-1-total-width: 394px;
$s-1-total-height: 308px;
$s-1-image: 'sprite.png';
$s-1: (0px, 186px, 0px, -186px, 394px, 56px, 394px, 308px, '../images/sprite.png', 's-1', );

$s-2-name: 's-2';
$s-2-x: 0px;
$s-2-y: 124px;
$s-2-offset-x: 0px;
$s-2-offset-y: -124px;
$s-2-width: 394px;
$s-2-height: 62px;
$s-2-total-width: 394px;
$s-2-total-height: 308px;
$s-2-image: 'sprite.png';
$s-2: (0px, 124px, 0px, -124px, 394px, 62px, 394px, 308px, '../images/sprite.png', 's-2', );

$s-3-name: 's-3';
$s-3-x: 0px;
$s-3-y: 0px;
$s-3-offset-x: 0px;
$s-3-offset-y: 0px;
$s-3-width: 394px;
$s-3-height: 62px;
$s-3-total-width: 394px;
$s-3-total-height: 308px;
$s-3-image: 'sprite.png';
$s-3: (0px, 0px, 0px, 0px, 394px, 62px, 394px, 308px, '../images/sprite.png', 's-3', );

$s-4-name: 's-4';
$s-4-x: 0px;
$s-4-y: 62px;
$s-4-offset-x: 0px;
$s-4-offset-y: -62px;
$s-4-width: 394px;
$s-4-height: 62px;
$s-4-total-width: 394px;
$s-4-total-height: 308px;
$s-4-image: 'sprite.png';
$s-4: (0px, 62px, 0px, -62px, 394px, 62px, 394px, 308px, '../images/sprite.png', 's-4', );

$s-dribbble-name: 's-Dribbble';
$s-dribbble-x: 138px;
$s-dribbble-y: 242px;
$s-dribbble-offset-x: -138px;
$s-dribbble-offset-y: -242px;
$s-dribbble-width: 33px;
$s-dribbble-height: 33px;
$s-dribbble-total-width: 394px;
$s-dribbble-total-height: 308px;
$s-dribbble-image: 'sprite.png';
$s-dribbble: (138px, 242px, -138px, -242px, 33px, 33px, 394px, 308px, '../images/sprite.png', 's-Dribbble', );

$s-fb-name: 's-Fb';
$s-fb-x: 171px;
$s-fb-y: 242px;
$s-fb-offset-x: -171px;
$s-fb-offset-y: -242px;
$s-fb-width: 33px;
$s-fb-height: 33px;
$s-fb-total-width: 394px;
$s-fb-total-height: 308px;
$s-fb-image: 'sprite.png';
$s-fb: (171px, 242px, -171px, -242px, 33px, 33px, 394px, 308px, '../images/sprite.png', 's-Fb', );

$s-twitter-name: 's-Twitter';
$s-twitter-x: 204px;
$s-twitter-y: 242px;
$s-twitter-offset-x: -204px;
$s-twitter-offset-y: -242px;
$s-twitter-width: 33px;
$s-twitter-height: 33px;
$s-twitter-total-width: 394px;
$s-twitter-total-height: 308px;
$s-twitter-image: 'sprite.png';
$s-twitter: (204px, 242px, -204px, -242px, 33px, 33px, 394px, 308px, '../images/sprite.png', 's-Twitter', );

$s-android-name: 's-android';
$s-android-x: 302px;
$s-android-y: 242px;
$s-android-offset-x: -302px;
$s-android-offset-y: -242px;
$s-android-width: 32px;
$s-android-height: 32px;
$s-android-total-width: 394px;
$s-android-total-height: 308px;
$s-android-image: 'sprite.png';
$s-android: (302px, 242px, -302px, -242px, 32px, 32px, 394px, 308px, '../images/sprite.png', 's-android', );

$s-bulb-name: 's-bulb';
$s-bulb-x: 366px;
$s-bulb-y: 242px;
$s-bulb-offset-x: -366px;
$s-bulb-offset-y: -242px;
$s-bulb-width: 24px;
$s-bulb-height: 24px;
$s-bulb-total-width: 394px;
$s-bulb-total-height: 308px;
$s-bulb-image: 'sprite.png';
$s-bulb: (366px, 242px, -366px, -242px, 24px, 24px, 394px, 308px, '../images/sprite.png', 's-bulb', );

$s-css-3-name: 's-css-3';
$s-css-3-x: 270px;
$s-css-3-y: 242px;
$s-css-3-offset-x: -270px;
$s-css-3-offset-y: -242px;
$s-css-3-width: 32px;
$s-css-3-height: 32px;
$s-css-3-total-width: 394px;
$s-css-3-total-height: 308px;
$s-css-3-image: 'sprite.png';
$s-css-3: (270px, 242px, -270px, -242px, 32px, 32px, 394px, 308px, '../images/sprite.png', 's-css-3', );

$s-html-5-name: 's-html-5';
$s-html-5-x: 334px;
$s-html-5-y: 242px;
$s-html-5-offset-x: -334px;
$s-html-5-offset-y: -242px;
$s-html-5-width: 32px;
$s-html-5-height: 32px;
$s-html-5-total-width: 394px;
$s-html-5-total-height: 308px;
$s-html-5-image: 'sprite.png';
$s-html-5: (334px, 242px, -334px, -242px, 32px, 32px, 394px, 308px, '../images/sprite.png', 's-html-5', );

$s-list-name: 's-list';
$s-list-x: 48px;
$s-list-y: 284px;
$s-list-offset-x: -48px;
$s-list-offset-y: -284px;
$s-list-width: 16px;
$s-list-height: 16px;
$s-list-total-width: 394px;
$s-list-total-height: 308px;
$s-list-image: 'sprite.png';
$s-list: (48px, 284px, -48px, -284px, 16px, 16px, 394px, 308px, '../images/sprite.png', 's-list', );

$s-logo-name: 's-logo';
$s-logo-x: 0px;
$s-logo-y: 242px;
$s-logo-offset-x: 0px;
$s-logo-offset-y: -242px;
$s-logo-width: 138px;
$s-logo-height: 42px;
$s-logo-total-width: 394px;
$s-logo-total-height: 308px;
$s-logo-image: 'sprite.png';
$s-logo: (0px, 242px, 0px, -242px, 138px, 42px, 394px, 308px, '../images/sprite.png', 's-logo', );

$s-mail-name: 's-mail';
$s-mail-x: 237px;
$s-mail-y: 242px;
$s-mail-offset-x: -237px;
$s-mail-offset-y: -242px;
$s-mail-width: 33px;
$s-mail-height: 33px;
$s-mail-total-width: 394px;
$s-mail-total-height: 308px;
$s-mail-image: 'sprite.png';
$s-mail: (237px, 242px, -237px, -242px, 33px, 33px, 394px, 308px, '../images/sprite.png', 's-mail', );

$s-next-name: 's-next';
$s-next-x: 64px;
$s-next-y: 284px;
$s-next-offset-x: -64px;
$s-next-offset-y: -284px;
$s-next-width: 16px;
$s-next-height: 16px;
$s-next-total-width: 394px;
$s-next-total-height: 308px;
$s-next-image: 'sprite.png';
$s-next: (64px, 284px, -64px, -284px, 16px, 16px, 394px, 308px, '../images/sprite.png', 's-next', );

$s-read-more-name: 's-read-more';
$s-read-more-x: 80px;
$s-read-more-y: 284px;
$s-read-more-offset-x: -80px;
$s-read-more-offset-y: -284px;
$s-read-more-width: 16px;
$s-read-more-height: 16px;
$s-read-more-total-width: 394px;
$s-read-more-total-height: 308px;
$s-read-more-image: 'sprite.png';
$s-read-more: (80px, 284px, -80px, -284px, 16px, 16px, 394px, 308px, '../images/sprite.png', 's-read-more', );

$s-rocket-name: 's-rocket';
$s-rocket-x: 0px;
$s-rocket-y: 284px;
$s-rocket-offset-x: 0px;
$s-rocket-offset-y: -284px;
$s-rocket-width: 24px;
$s-rocket-height: 24px;
$s-rocket-total-width: 394px;
$s-rocket-total-height: 308px;
$s-rocket-image: 'sprite.png';
$s-rocket: (0px, 284px, 0px, -284px, 24px, 24px, 394px, 308px, '../images/sprite.png', 's-rocket', );

$s-settings-name: 's-settings';
$s-settings-x: 24px;
$s-settings-y: 284px;
$s-settings-offset-x: -24px;
$s-settings-offset-y: -284px;
$s-settings-width: 24px;
$s-settings-height: 24px;
$s-settings-total-width: 394px;
$s-settings-total-height: 308px;
$s-settings-image: 'sprite.png';
$s-settings: (24px, 284px, -24px, -284px, 24px, 24px, 394px, 308px, '../images/sprite.png', 's-settings', );

$s-star-name: 's-star';
$s-star-x: 96px;
$s-star-y: 284px;
$s-star-offset-x: -96px;
$s-star-offset-y: -284px;
$s-star-width: 16px;
$s-star-height: 16px;
$s-star-total-width: 394px;
$s-star-total-height: 308px;
$s-star-image: 'sprite.png';
$s-star: (96px, 284px, -96px, -284px, 16px, 16px, 394px, 308px, '../images/sprite.png', 's-star', );

$s-trophy-name: 's-trophy';
$s-trophy-x: 112px;
$s-trophy-y: 284px;
$s-trophy-offset-x: -112px;
$s-trophy-offset-y: -284px;
$s-trophy-width: 16px;
$s-trophy-height: 16px;
$s-trophy-total-width: 394px;
$s-trophy-total-height: 308px;
$s-trophy-image: 'sprite.png';
$s-trophy: (112px, 284px, -112px, -284px, 16px, 16px, 394px, 308px, '../images/sprite.png', 's-trophy', );

$spritesheet-width: 394px;
$spritesheet-height: 308px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($s-1, $s-2, $s-3, $s-4, $s-dribbble, $s-fb, $s-twitter, $s-android, $s-bulb, $s-css-3, $s-html-5, $s-list, $s-logo, $s-mail, $s-next, $s-read-more, $s-rocket, $s-settings, $s-star, $s-trophy, );
$spritesheet: (394px, 308px, 'sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
