@import "../png-sprite";
@import "../helpers/mixins";
@import "base";


/* media */

@include max_900 {
	.inner-top {
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	    padding: 0;
	
		&__logo {
			display: block;
			margin: 0 auto;
			-webkit-flex-grow: 1;
	    	        flex-grow: 1;
		}

	}

	.nav {
		width: 100%;
	    
	    &__list{
	    	width: 100%;
	    	-webkit-flex-grow: 1;
	    	        flex-grow: 1;
	    	display: none; 
	    }
		    
		&__item {
			display: block;
			line-height: 30px;
	    	padding: 1rem 0;
	    	text-align: center;
	    	border-bottom: 1px solid #3f3b48;
		}

		&__item--mail{
			display: block;
	    	top: .5em;
	    	margin: 0 auto;
	    	border-bottom: none;
	    	height: 17px; 
		}

		#menu {
			display: block;
		    padding: 0 1em;
		    position: absolute;
		    right: 0;
		    top: -3em;
		}
	
	}	

}
@include max_600 {
	.nav {

		&__item--mail{
	    	height: 21px; 
		}
	}	

}


@include max_480 {
	.nav {

		&__item--mail{
	    	height: 25px; 
		}
	}	

}