.inner-top {
	position: absolute;
	left: 0;
	right: 0;
	padding: 0;
	margin: 0;
}

.header {
	background-image: url(../../images/desktop/header-photo.jpg);
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	background-position: 50% 0;
	height: 100vh;
}

