@import "../helpers/mixins";

.wr-our-work {
	background-color: #3f3b48;
}

.our-work{
	
	h2{
		text-align: center;
		padding-top: 1.5em;
		font-size: 5.2rem;
		color:#fff;
	}

	&__our{
		font-family: 'Pacifico-Regular';
		font-size: 3.6rem;
		color:#fff;
		margin: 0.8em 1.2em;
    	position: absolute;
		display: inline-block;
	}
}