<div class="wrapper">
	<section class="wr-main">
		<div class="inner-top">
			<div class="inner-top__logo">
				<img src="../images/desktop/logo.png" alt="LOGO">
			</div>
			<nav class="inner-top__nav nav">
				<ul class="nav__list">
					<li class="nav__item"><a href="#">HOME</a></li>
					<li class="nav__item"><a href="#">WORK</a></li>
					<li class="nav__item"><a href="#">PROCESS</a></li>
					<li class="nav__item"><a href="#">BLOG</a></li>
					<li class="nav__item"><a href="#">FUN FACTS</a></li>
					<li class="nav__item nav__item--mail"><span></span></li>
				</ul>
			</nav>
		</div>
	</section>

	<header class="header">
		<h1><span class="header__think">Think </span>LET OUT THE <span class="header__creative"> CREATIVE</span> BEAST</h1>
	</header>

</div>