<div class="wrapper">
	<div class="wr-main">
		<div class="inner-top">
			<div class="inner-top__logo">
				<span></span>
			</div>
			<nav class="inner-top__nav nav">
				<a href="#" id="menu"></a>
				<ul class="nav__list">
					<li class="nav__item"><a href="#">HOME</a></li>
					<li class="nav__item"><a href="#">WORK</a></li>
					<li class="nav__item"><a href="#">PROCESS</a></li>
					<li class="nav__item"><a href="#">BLOG</a></li>
					<li class="nav__item"><a href="#">FUN FACTS</a></li>
					<li class="nav__item nav__item--mail" id="go"><span></span></li>
				</ul>
			</nav>
		</div>
	</div>

	<header class="header">
		<h1><span class="header__think">Think </span>LET OUT THE <span class="header__creative"> CREATIVE</span> BEAST</h1>
	</header>

</div>